In [1]:
import os
import sys

import pandas as pd
import numpy as np
import catboost
np.set_printoptions(precision=4)
from catboost import *
from catboost import datasets
from catboost import CatBoostClassifier
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
w = catboost.MetricVisualizer('catboost_info\\')
w.start()

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [3]:
from catboost.datasets import titanic
import numpy as np

train_df = pd.read_csv("grades.csv")

train_df.head()

,PUPIL_SEX,PUPIL_CLASS,TEACHER_RIGHT,TEACHER_CHK,TEACHER_QUEST,TEACHER_CORR,PUPIL_CORR,PUPIL_STRIP,GRADE
0,F,8A,65,0,4,2,1,6,4-
1,F,8A,70,4,0,4,0,4,3
2,F,8A,85,0,0,4,3,5,4
3,M,8A,55,0,0,1,8,3,3
4,M,8A,40,1,2,0,3,4,2

In [4]:
null_value_stats = train_df.isnull().sum(axis=0)
null_value_stats[null_value_stats != 0]

Series([], dtype: int64)

In [ ]:
train_df.fillna(-999, inplace=True)

In [ ]:
X = train_df.drop('GRADE', axis=1)
y = train_df.GRADE

In [ ]:
print(X.dtypes)

categorical_features_indices = np.where(X.dtypes != float)[0]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_validation, y_train, y_validation = train_test_split(X, y, train_size=0.75, random_state=42)

In [ ]:
from catboost import CatBoostClassifier, Pool, metrics, cv
from sklearn.metrics import accuracy_score

In [ ]:
model = CatBoostClassifier(
    custom_loss=[metrics.Accuracy()],
    random_seed=42,
    logging_level='Silent'
)

In [ ]:
model.fit(
    X_train, y_train,
    cat_features=categorical_features_indices,
    eval_set=(X_validation, y_validation),
#     logging_level='Verbose',  # you can uncomment this for text output
    plot=True
);

In [ ]:
predictions = model.predict(X_validation)
predictions_probs = model.predict_proba(X_validation)
print(predictions[:10])
print(predictions_probs[:10])